/* TODO split to global styles and then break into emotion styled components */

footer {
  background-color: #03506b;
  padding: 3rem 0;
}

footer h2 {
  text-align: center;
  margin: 0;
  font-size: 2rem;
}

.blue {
  background-color: #03506b;
}

.hero_text {
  position: absolute;
  top: 50%;
  transform: translate(50%, 30%);
}

.hero_text h1,
.hero_text h3 {
  line-height: 1.5;
  margin: 0;
  font-weight: 400;
}

.julianne_biography,
.julianne_contact {
  position: relative;
}

.heading_centered {
  position: absolute;
  top: 50%;
  transform: translate(50%, 50%);
}

.split {
  width: 50%;
  max-width: 50%;
  display: inline-block;
}

.right {
  float: right;
}

.container {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.justify-centered {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-stretch {
  align-items: stretch;
}

.block-padding {
  padding: 3rem;
}

.red {
  background-color: #fecac1;
}

.julianne_performances {
  background-color: #03506b;
  padding: 3rem 0 3rem 3rem;
}

.white {
  color: white;
}

.performance_heading {
  margin: 0;
}

.performance_blocks {
  padding: 0;
  list-style: none;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  margin-top: 3rem;
}

.performance_block {
  min-height: 500px;
  background: #f5f4ca;
  width: 250px;
  margin-right: 4rem;
  float: left;
}

.contact_block {
  margin-bottom: 2rem;
}

.contact_block:last-child {
  margin-bottom: 0;
}

.contact_block h3 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
}

.contact_block p {
}
